%div{class: "modal fade", :id => "myEditModal", :tabindex =>"-1", :role => "dialog", :aria => {:labelledby => "myModalLabel"}}
  %div{class: "modal-dialog", :role => "document"}
    %div{class: "modal-content"}
      %div{class: "modal-header"}
        %h4{class: "modal-title", :id => "myEditModalLabel"}级别信息修改
      .modal-body.form-post-edit{:id => "level-edit"}
      %div{class: "modal-footer"}
        %button{:type => "button", class: "btn btn-default", :data =>{:dismiss => "modal"}}关闭