%tr.level
  %td.number= level.number
  %td= level.name
  %td
    .btn-group.btn-group-sm
      %a.btn.btn-default.update-level{href: "javaScript:;", id: level.id, :data =>{:toggle => "modal", :target =>"#modal-dialog", :level_id => "#{level.id}"}}
        %i.glyphicon.glyphicon-pencil
        %span 修改
      %a.btn.btn-default{href: "/levels/#{level.id}", data: {confirm: "确认删除吗?", method: :delete}}
        %i.glyphicon.glyphicon-trash
        %span 删除