.page-posts-index
  %h3 设置岗位
  %button.btn.btn-primary.btn-lg.post-crt{:type => "button", :data =>{:toggle => "modal", :target =>"#modal-dialog"}}创建岗位
  %table.table.table-striped.table-bordered.post-list
    %caption 岗位清单
    %thead
      %tr
        %th 岗位编号
        %th 岗位名与描述
        %th 对应级别
        %th 对应业务类别
        %th 操作
    %tbody
      - if @posts.blank?
        %tr
          %td{colspan: 3} 没有数据
      - @posts.each do |post|
        = render :partial => "post_index_tr",locals: { post: post }
= render_cell :"bank_train/modal", :show
