.modal.fade{:id => "modal-dialog", :tabindex =>"-1", :role => "dialog", :aria => {:labelledby => "modalLabel"}}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title
      .modal-body.form-body-modal
      .modal-footer
        %button.btn.btn-default{:type => "button", :data =>{:dismiss => "modal"}}关闭
